@import url(../font.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    width:100%;
    height: 100%;
}

#main{
    width: 100%;
    position: relative;
    z-index: 2;
}

#main #hero{
    width: 100%;
    height: 100vh;
    background-color: blue;
}