@import url(../font.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    width:100%;
    min-height: 100%;
    overflow-x: hidden;
}

#main{
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: var(--green-color);
    color: white;
    font-family: "TheYearOfHandicrafts", serif;
}

#main #hero{
    width: 100%;
    min-height: 100vh;
    padding: 0 0 4rem;
}

#main #hero #herotext{
    width: 100%;
    height: 60vh;
    padding: 10vw 7vw 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    background: url("../images/home/hero-bg-green.webp") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    mask-image: linear-gradient(to top, transparent 0%, black 10%, black 90%, transparent 100%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, var(--green-color) 10%, var(--green-color) 90%);
    mask-composite: intersect;
    -webkit-mask-composite: source-in;
    
}

#main #hero #herotext > img{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

#main #hero #herotext h1{
    font-size: 3rem;
    font-family: "didot-bold";
    font-weight: 500;
    width: 60%;
    line-height: 1;

}

#main #hero #herotext p{
    font-size: 1.1rem;
    width: 50%;
    opacity: 0.7;
    line-height: 1.5;
}

#main #hero #herotext #hrtags{
    display: flex;
    gap: 0.5rem;
}

#main #hero #herotext #hrtags #hrtag{
    padding: 0.5rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#main #hero #herotext #hrtags #hrtag p{
    font-size: 0.9rem;
    text-transform: uppercase;
    opacity: 1;
    width: 100%;
}

#hero #heroimg{
    width: 100%;
    height: 75vh;
    padding: 0 7vw;
    display: flex;
    justify-content: center;
}

#hero #heroimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@keyframes heroimg {
    0%{
        transform: scale(0.7)
    }
    100%{
        transform: scale(1);
        
    }
    
}


#main #projectinfo{
    width: 100%;
    padding: 4vw 15vw;
    display: flex;
    flex-direction: column;;
    gap: 1rem;
}

#main #projectinfo img{
    border-radius: 10px;;
}

#main #projectinfo #projectinfotop{
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    padding: 1rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#main #projectinfo #projectinfotop #infoleft{
    width: 30%;
    height: fit-content;
    /* background-color: red; */
}

#main #projectinfo #projectinfotop #infoleft h2{
    font-family: "didot";
    font-size: 1rem;
    font-weight: 400;
    width: 50%;
    text-transform: uppercase;
}

#main #projectinfo #projectinfotop #inforight{
    width: 60%;
    overflow: hidden;
}
#main #projectinfo #projectinfotop #inforight #inforightwrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* transform: translateY(-420px); */
}

#main #projectinfo #projectinfotop #inforight .infodiv{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#main #projectinfo #projectinfotop #inforight .infodiv h1{
    font-family: "didot-bold";
    font-size: 2.5rem;
    font-weight: 500;
}

#main #projectinfo #projectinfotop #inforight .infodiv > p{
    font-size: 1.05rem;
    width: 80%;
    opacity: 0.7;
}

#main #projectinfo #projectinfotop #inforight .infodiv > ul{
    list-style-type: disc;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    opacity: 0.7;
    justify-content: center;
}
#main #projectinfo #projectinfotop #inforight .infodiv #hrtags{
    display: flex;
    gap: 0.5rem;
}

#main #projectinfo #projectinfotop #inforight .infodiv #hrtags #hrtag{
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    backdrop-filter: blur(10px);
}

#main #projectinfo #projectinfotop #inforight .infodiv #hrtags #hrtag p{
    font-size: 0.75rem;
    text-transform: uppercase;
    opacity: 1;
    width: 100%;
}

#main #projectresults{
    width: 100%;
    padding: 0;
    display: block;
}

#main #projectresults .card{
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
    will-change: transform;
}

#main #projectresults .card .img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 80vh;
}

#main #projectresults .card .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    #main #hero #herotext {
        padding: 30vw 5vw 0;
        height: auto;
        min-height: 50vh;
    }

    #main #hero #herotext h1 {
        width: 100%;
        font-size: 2rem;
    }

    #main #hero #herotext p {
        width: 100%;
        font-size: 1rem;
    }
    
    #main #hero #herotext #hrtags {
        flex-wrap: wrap;
        margin-bottom: 4rem;;
    }

    #hero #heroimg {
        height: 50vh;
        padding: 0 5vw;
    }

    #main #projectinfo {
        padding: 10vw 5vw 10vw 5vw;
    }

    #main #projectinfo #projectinfotop {
        flex-direction: column;
        height: auto;
        gap: 2rem;
    }

    #main #projectinfo #projectinfotop #infoleft {
        width: 100%;
    }

    #main #projectinfo #projectinfotop #inforight {
        width: 100%;
        overflow: visible;
    }
    
    #main #projectinfo #projectinfotop #inforight #inforightwrapper {
        gap: 2rem;
    }

    #main #projectinfo #projectinfotop #inforight .infodiv h1 {
        font-size: 2rem;
    }
    
    #main #projectinfo #projectinfotop #inforight .infodiv > p {
        width: 100%;
    }
    
    #main #projectinfo #projectinfotop #inforight .infodiv #hrtags {
        flex-wrap: wrap;
    }

    #main #hero #herotext #hrtags #hrtag p{
        font-size: 0.75rem;
    }

    #main #projectresults {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 4rem;
    }

    #main #projectresults .card {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        margin-bottom: 0;
    }

    #main #projectresults .card .img {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        width: 100%;
        height: auto;
        padding: 0 5vw;
    }

    #main #projectresults .card .img img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
}



