@import url("../font.css");

/* Button CSS */

.btnelem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnelem button:nth-child(1) {
    width: fit-content;
    height: 3rem;
    line-height: 1;
    padding: 1rem 2rem;
    border: none;
    background-color: var(--secondary-golden-color);
    color: black;
    font-weight: 500;
    letter-spacing: 0.01rem;
    font-size: 1rem;
    /* border-radius: 15px; */
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.btnelem:hover button:nth-child(1) {
    background-color: var(--primary-black-color);
    color:var(--secondary-golden-color);
}



.btnelem button:nth-child(2) {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border: none;
    background-color: var(--secondary-golden-color);
    color: black;
    border-radius: 15px;
    
    /* border-top-right-radius: 15px; */
    /* border-bottom-left-radius: 15px; */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.btnelem:hover button:nth-child(2){
    border-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
.btnelem:hover button:nth-child(2) img{
    transform: rotate(45deg);
}

.btnelem button img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    /* margin-left: 0.5rem; */
    transition: all 0.3s ease-in-out;

}

/* Button CSS end */

#footer {
    width: 100%;
    height: 100vh;
    background-color: var(--green-color);
    /* border: 1px solid red;
    background: url("./assets/images/home/herofooter-bg.png");
    background-size: cover;
    background-position: center; */
    /* padding-top: 3rem; */
    /* position: relative; */
}

#footer #footer-foreground{
    width: 100%;
    height: 100%;
    background: url("../images/home/herofooter-bg-green.png") no-repeat center center;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 10;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 50px 50px 0 rgba(27, 16, 20, .6);
}


#footer #footer-background {
    position: sticky;
    bottom: 0;
    width: 100%;
    /* height:30vh; */
    padding: 2vw 4vw;
    background-color: var(--green-color);
    color: #5a5858c8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 6.5rem;
    z-index:1;
}

#footer #footer-background h1{
    color: #25312c;
    opacity: 0.7;
    font-family: "didot-bold", sans-serif;

    /* color: transparent; */
    /* -webkit-text-stroke: 1px var(--secondary-golden-color); */
    /* font-weight: 400; */
}


#footer #ftop {
    width: 100%;
    height: 60%;
    /* margin-top:2rem; */
    /* background-color: red; */
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;

}

#footer #ftop h1 {
    font-size: 3.5rem;
    font-family: "didot-bold", sans-serif;
    width: 40%;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 1;
}

#footer #ftop > p {
    font-size: 1.1rem;
    width: 35%;
    /* margin: 0 auto; */
    opacity: 0.7;
    line-height: 1.1;
}

#footer #ftop #btndiv {
    display: flex;
    gap: 2rem;
}

#footer #ftop #btndiv .transparentbtn button {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white;
    transition: all 0.3s ease;
}

#footer #ftop #btndiv .transparentbtn:hover button:nth-child(1) {
    background-color: var(--primary-black-color) !important;
    color: var(--secondary-golden-color) !important;
    border: 1px solid var(--primary-black-color) !important;
}

#footer #ftop #btndiv .transparentbtn button img {
    filter: invert(1);
}

#footer #fbtm {
    width: 100%;
    height: 40%;
    /* background-color: red; */
    border-top: 1px solid var(--green-color);
    display: flex;
    /* padding: 2rem 3vw;; */
}
#footer #fbtm #btmleft {
    border-right: 1px solid var(--green-color);
    width: 30%;
    height: 100%;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* background-color: blue; */
}

#footer #fbtm #btmleft img {
    width: fit-content;
    height: 40px;
    object-fit: cover;
}

#footer #fbtm #btmleft .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.9rem;
}

#footer #fbtm #btmleft .info p:nth-child(1) {
    opacity: 0.7;
}
#footer #fbtm #btmleft .info p:nth-child(2) {
    font-size: 1.1rem;
    opacity: 1;
}

#footer #fbtm #copyright {
    margin-top: auto;
    font-size: 1.1rem;
}

#footer #fbtm #copyright span {
    opacity: 0.7;
}

#footer #fbtm #btmright {
    width: 70%;
    height: 100%;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#footer #fbtm #btmright ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.2rem;
    line-height: 1;
    width: fit-content;
}

#footer #fbtm #btmright ul li.liheading {
    font-size: 1rem;
    opacity: 0.7;
}

#footer #fbtm #btmright ul a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

#footer #fbtm #btmright ul a:hover {
    color: var(--secondary-golden-color);
}

#footer #fbtm #btmright ul li {
    cursor: pointer;
}

#footer #fbtm #btmright #socials {
    display: flex;
    gap: 3rem;
}

#footer #fbtm #btmright #socials a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    opacity: 0.7;
    margin-top: auto;
}
#footer #fbtm #btmright #socials a:hover {
    color: var(--secondary-golden-color);
    opacity: 1;
}
